

%max-h-w-in-container {
    width: 100%;
    height: 100%;
}

.header_container {
    @extend %max-h-w-in-container;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr;
}

.header_container > h1 {
    margin: auto;
}

.button {
    padding: 5%;
    margin: auto;
    border: solid .08rem;
    background-color: white;
    border-radius: 4px;
    
}

#drop_menu_container {
    @extend %max-h-w-in-container;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr;
}