

@use './header_style';
@use './carousel_style';
@use './about_style';

$bg_color: #FCB4A9;

body {
    max-width: 100vw;
    background-color: $bg_color;
    margin: 0;
    scroll-behavior: smooth;
}

%main-section-styles {
    min-height: 100vh;
    width: 100%;
    margin: auto;
    background: none;
    min-width: 350px;
    min-height: fit-content;
    display: grid;
}

.main_section_landing {
    @extend %main-section-styles;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.main_section {
    @extend %main-section-styles;
}
